  *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
 
 body {
      margin: 0;
      /* padding: 20px; */
      background: rgb(207, 207, 239);
      display: flex;
      flex-direction: column;
      justify-content: center;
      }

    #game-container{
      background-image: url("backgrondNew.png");
      background-color:white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      height: 80vh;
      margin:0;
      border-radius: 10px;
      padding: 30px;
    }
    .question {
      display: flex;
      width: 60vw;
    }
    #questionP{
      font-size: 25px;
      color: black;
      font-weight: 600;
      padding: 10px;
    }
    .question img {
      width: 60vw;
      height: 50vh;
      object-fit: cover;
      display: flex;
      border-radius: 5px;
    }
    #comment-container{
      display: flex;
      justify-content: right;
      width: 50vw;
      flex-direction: column;
    }
    .answer-options {
      display: flex;
      flex-direction: column;
      justify-content: right;
      padding-left: 12vw;
      padding-top: 1vw;
    }
    .answer-option {
      background: white;
      color: #222;
      font-weight: 500;
      width: 15vw;
      border: 1px solid rgb(75, 75, 75);
      padding: 10px;
      margin: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
    }
    .answer-option:hover:not([disabled]){
      background: #544f4f;
      color: #ffffff;
    }
    .answer-option.correct {
      background-color: rgb(129, 247, 129);
      color: white;
    }
    .answer-option.incorrect {
      background-color: rgb(252, 121, 121);
      color: white;
    }
    #next-button {
      background: rgb(80, 80, 168);
      color: #ffffff;
      font-weight: 500;
      width: 150px;
      border: 0;
      padding: 10px;
      margin: 10px auto 0;
      border-radius: 6px;
      cursor: pointer;
      display: none;
    }

    #next-button:hover{
      background: rgb(66, 66, 135);
    }

    #comment-button{
      background: greenyellow;
      border: none;
      padding: 5px;
      margin: 10px 5px 5px 3vw;
      display: none;
      cursor: pointer;
      border-radius: 10px;
      
    }

    #comment-button:hover{
      background: rgb(181, 236, 100);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.324);
    
    }
    #comment-and-butoon{
      width:100%;
      display: flex;
      justify-content: center;
    }
    
    #commentText{
      display: none;
      padding: 5px;
      margin: 10px;
    }
    #restart{
      display: flex;
      margin: 20px;
    }
    #restart>*{
      display: flex;
      align-self: flex-end;

      text-decoration: none;
    }
    #restart-btn{
      background: rgb(236, 235, 235);
      border-radius: 3px;
      padding: 3px;
      font-weight: 700;
    }
    #restart-btn:hover{
      background-color: rgb(209, 208, 208);
      color: #000000;
    }

    
    /*progress bar*/
    .progress{
      display: block;
    }

    #barHolder {
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 10px;
    border-radius: 5px;
  }
  #bar {
    background-color: rgb(0, 194, 0);
    width:0%;
    height: 10px;
    transition: width 1s; /* speed */
    border-radius: 5px;
  }
  #by10 {
    background-color: rgb(217, 215, 215);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
  }

  #proptext{
    border: 2px solid rgba(96, 220, 96, 0.687);
    border-radius: 10px;
    background: rgba(0, 128, 0, 0.068);
    font-size: 15px;
    width: 30vw;
    padding: 10px;
    margin-left: auto;
    margin-top: 150px;
    margin-right: 50px;
  }
  
  [popover] {
    font-size: 1.2rem;
    animation: fade-out 0.7s ease-out;
  }

  [popover]:popover-open {
    animation: fade-in 0.7s ease-out;
  }

  @keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      display: block;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }

  .add-result{
    display: inline-block;
  }
  #scoreshow{
    padding: 10px 10px 30px 10px;
    font-size: 20px;
    font-weight: 600;
  }

  #addResult-prop>*{
    display: inline-block;
  }
  #prop>button{
    padding: 3px;
    border-radius: 3px;
    border: 2px solid rgb(58, 57, 57);
    background: #e1e1e1;
    font-size: 15px;
    font-weight: 800;
  }
  #prop>button:hover{
    background: #7e7d7d;
  }
  .add-result-text{
    font-size: 20px;
  }
  .rating{
    display: inline-block;
    margin-left: 15vw;
  }
  .rating-list{
    overflow: auto;
    width: 200px;
    height: 200px;
  }

  .inputform{
    border-radius: 10px;
    text-align: center;
    padding: 1px;
    margin: 5px;
  }
  #form-button{
    padding: 2px;
    border-radius: 8px;
    margin-left: 1vw;
  }
  #form-button:hover{
    background: #c7c7c7;
  }